@import "../../assets/scss/mixins";

.tutorial-component {
    .header {
        align-self: center;
        margin: 40px 0;
        font-family: Inter;
        font-size: 24px;
        font-weight: 700;
        color: rgb(4, 18, 29);
        text-align: center;
        line-height: 1.5;
        padding: 2px 0px;
    }

    .tutorials {
        .item-wrapper {
            align-self: baseline;
            font-family: Inter;
            font-size: 24px;
            font-weight: 700;
            color: rgb(4, 18, 29);
            text-align: center;
            line-height: 1.5;
            
            .item {
                border: 1px solid rgba(171, 171, 171, 0.25);

                .banner {
                    img {
                        width: 100%;
                    }
                }

                .title {
                    margin: 10px;
                    font-family: Roboto;
                    font-size: 18px;
                    font-weight: 700;
                    color: rgb(4, 18, 29);
                    text-align: center;
                    align-items: center;
                    line-height: 1.2;
                }
            }
        }
    }
}